.sidenav {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #731515;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Aligns content to the bottom */
  }
  
  .sidenav img {
    width: 20px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Add hover effect to the a element */
  .sidenav a:hover {
    background-color: #B38080; /* Hover background color */
    border-radius: 50px; /* Optional: add rounded corners */
  }
  
  .vertical-title {
    position: fixed;
    font-family: "DM Serif Display", serif;
    top: 40%;
    left: 80px; /* Adjust this based on your sidebar width */
    transform: translate(-50%, -50%) rotate(-90deg);
    transform-origin: left top;
    font-size: 40px;
    color: #FFFFFF;
  }

.content {
    margin-left: 100px;
    padding: 20px;
    max-width: 900px;
}

.book-details-container {
    display: flex;
    margin-bottom: 20px;
}

.book-cover {
    margin-right: 20px;
}

.book-cover img {
    width: 150px;
    height: auto;
}

.book-details {
    flex-grow: 1;
}

.book-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.book-meta {
    display: flex;
    align-items: center;
}

.book-meta-labels {
    font-size: 14px;
}

.book-meta div {
    margin-bottom: 5px;
}

.borrow-button, .interest-button {
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.borrow-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

.borrow-button:hover {
    background-color: #45a049;
}

.interest-button {
    background-color: #4CAF50; 
    color: white;
}

.interest-button:hover {
    background-color: #45a049;
}

.overview {
    margin-top: 20px;
}

.overview strong {
    font-size: 20px;
}

.overview p {
    margin-top: 10px;
    line-height: 1.6;
    text-align: justify;
}

.notice-popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.notice-content p {
    margin-bottom: 20px;
}

.confirm-button, .cancel-button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
}

.confirm-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

.cancel-button {
    background-color: #f44336; /* Red */
    color: white;
}
